.dets-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: flex-start;
    justify-content: flex-start; */
}

.dets-container-left {
    flex: 1 0 65%;
    height: 100%;
   
}

.dets-container-right {
    flex: 1 0 35%;
    padding: 60px;
    text-align: left;
    background-color: #f9f9f9;
}