.dets-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.dets-container-left {
    min-width: 500px;
    flex: 1 0 65%;
    height: 100%;
   
}

.dets-container-right {
    flex: 1 0 35%;
    padding: 60px;
    min-width: 400px;
    /* height: 83vh; */
    text-align: left;
    background-color: #EEE;
}
