/* bootstrap navigation styles */

.navbar {
    margin-bottom: 0 !important;
  }
  
  .navbar-brand {
    float: left;
    height: 70px !important;
    padding: 5px 15px !important;
    font-size: 18px;
    line-height: 20px;
  }
  
  .navbar-right {
    padding-top: 10px;
  }
  
  .navbar-toggle {
    margin-top: 18px !important;
  }