.navbar-inverse  {
    border-color: red !important;
}

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.navbar-brand {
    height: 65px !important;
    padding: 3px 25px !important;
}

.navbar-nav > li > a {
    padding-top: 22px !important;
}

.header-logo {
    min-width: 150px;
}

.nav-link {
    text-transform: uppercase;
}