.navbar-inverse  {
    border-color: red !important;
}

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.navbar-brand {
    height: 65px !important;
    padding: 3px 25px !important;
}

.navbar-nav > li > a {
    padding-top: 22px !important;
}

.header-logo {
    min-width: 150px;
}

.navbar-right {
    padding-right: 1.2em;
}

.navbar-right li a {
    font-family: 'Source Sans Pro', sans-serif !important;
    text-transform: uppercase;
}
