.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100%vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* bootstrap navigation styles */
.navbar {
  margin-bottom: 0 !important;
}

.navbar-brand {
  float: left;
  height: 70px !important;
  padding: 5px 15px !important;
  font-size: 18px;
  line-height: 20px;
}

.navbar-right {
  padding-top: 10px;
}

.navbar-toggle {
  margin-top: 18px !important;
}

/* header styles */
.hero-header {
  background-image: url('./assets/header-bg.jpg');
  background-size: cover;
  background-position: center;
  width: 100wh;
  height: 100vh;
  display: flex;
}

.centre-content {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.hero-header h1, h3 {
  color: white;
  line-height: 1;
}

.hero-header h1 {
  text-transform: uppercase;
  font-size: 3em;
  margin-bottom: 0;
  }

.hero-header h3 {
  margin-bottom: 40px;
  font-size: 1.5em;
  font-weight: normal;
}

